<h1>フォルダー一覧</h1>

<ul>
    <% @folders.each do |folder| %>
        <li><%= link_to folder.title, folder_path(folder) %></li>
        <div>
            <%= link_to "Delete", folder, method: :delete, data: { confirm: "You sure?"}, class: 'btn btn-danger btn-sm' %>
        </div>
    <% end %>
</ul>