<h1>フォルダ一覧</h1>

<ul>
    <% @folders.each do |folder| %>
        <li><%= link_to folder.title, folder_path(folder) %></li>
    <% end %>
</ul>
<%= link_to 'フォルダー追加', new_folder_path %><br>
<%= link_to '新規会社の追加', new_company_path %>